[Unit]
PartOf=inet.target

[Install]
WantedBy=inet.target

[Service]
ExecStart=%h/.local/var/lib/systemd/bin/ip-jb2170-com-server.sh
WorkingDirectory=%h/.local/var/lib/WSGIEchoIP
